.editor{
height:100vh;
background:black;
display:flex;
flex-direction:column;
}

.bottomPanel{
background:#1e1e1e;
padding:15px;
border-top-left-radius:20px;
border-top-right-radius:20px;
}

.categoryTabs{
display:flex;
gap:10px;
overflow:auto;
}

.subTabs{
display:flex;
gap:10px;
margin-bottom:10px;
}

.sliderWrap{
padding:15px 0;
}

.timeline{
height:60px;
background:#111;
}

.doneCancel{
display:flex;
justify-content:space-between;
margin-top:10px;
}